/* stylesheet */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    background-color: powderblue;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-right: 12%;
    margin-top: 3%;
    height: 75vh;
    background-size: 20px 20px;
}

 

.login-container{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #96dae3;
    background-size: 5px;
    
}


input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid#ccc;
    font-size: small;
    heaight 50%
}

input[type="submit"] {
    width: 100%;
    background-color: #08cff3;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #040fef;

}

.forgot-password {
    font-size: 10px;

}

.signup-with-google {
    margin-top: 10px;
}
.google-button {
    background-color: #08cff3;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}

.google-button img {
    vertical-align: middle;
    margin-right: 5px;
}

.skill-img {
    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 5%;
}

